doctype html
html(lang='es')
    head
        meta(name='encoding', charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Error: LFC Abogados y Economistas
        meta(name='keywords', content='compliance, compliance penal, compliance empresas, compliance pymes, cumplimiento normativo, modelo de compliance penal, modelo de prevención de delitos, responsabilidad penal de las empresas, responsabilidad penal de las personas jurídicas, abogados penalistas, derecho penal económico, derecho penal empresa, delitos económicos, defensa, abogados penalistas en madrid, abogados derecho civil, especialistas en derecho penal, penal internacional, penal económico')
        meta(name='description', content='Página no encontrada en LFC Abogados y Economistas expertos en Compliance penal. Asesoramos en materia jurídico penal preventiva en el ámbito del derecho penal económico.')
        //- All (common) METATAGS in head tag
        include includes/metatags

    body#page-top.index
        //- Navigation
        nav.navbar.navbar-default.navbar-fixed-top
            .container
                //- Brand and toggle get grouped for better mobile display
                .navbar-header.page-scroll
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand.page-scroll(href='index.html', alt='Logotipo de LFC, abogados especialistas en compliance')
                        img(src='img/common/lfc_logo.svg', alt='LFC, abogados especialistas en compliance', title='LFC, abogados especialistas en compliance')
                //- Collect the nav links, forms, and other content for toggling
                #bs-example-navbar-collapse-1.collapse.navbar-collapse.animated.fadeIn
                    ul.nav.navbar-nav.navbar-right
                        li.hidden
                            a(href='#page-top')
                        li
                            a(href='index.html', title='Volver a la página de inicio de LFC Abogados y Economistas')
                                i.fa.fa-home
                                |  LFC
                                span Abogados y Economistas
                //- /.navbar-collapse
            //- /.container-fluid
        //- Header
        header.terms-header
            .container
        //- TERMS 01 :: "Términos legales"
        section#terms-intro.bg-light-gray
            .container
                .row
                    .col-lg-12.text-center
                        h2.section-heading
                            | !{notfound.title}
                        h3.section-subheading.text-muted
                            i.fa.fa-warning(aria-hidden='true')
                            | #{notfound.subtitle}
                .row.more-margin-bottom
                    .col-sm-12
                        p.text-muted.effects.text-center
                            | !{notfound.advise}
                .row.more-margin-bottom.error-tips
                      //- for each loop to load all copies in "locales" json file/s
                      each tips, i in notfound.tips
                        .col-sm-6.col-md-3
                            p.text-muted.effects !{tips}
                .row
                    .col-sm-12
                        p.text-muted.effects.text-center
                            a(href='index.html', title='Volver a la página de inicio de LFC Abogados y Economistas')
                                | #{notfound.indexlink}&nbsp;
                                i.fa.fa-home
                                  
        //- (common) "Contact Us" Section
        include includes/contact
        //- (common) "Footer" Section
        include includes/footer
        //- All (common) Scripts
        include includes/scripts
