doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title LFC Abogados y Economistas
        meta(name='keywords', content='compliance, compliance penal, compliance empresas, compliance pymes, cumplimiento normativo, modelo de compliance penal, modelo de prevención de delitos, responsabilidad penal de las empresas, responsabilidad penal de las personas jurídicas, abogados penalistas, derecho penal económico, derecho penal empresa, delitos económicos, defensa, abogados penalistas en madrid, abogados derecho civil, especialistas en derecho penal, penal internacional, penal económico')
        meta(name='description', content='LFC Abogados y Economistas expertos en Compliance penal. Asesoramos en materia jurídico penal preventiva en el ámbito del derecho penal económico y de empresa además de implantar, gestionar y mantener el cumplimiento de los sistemas de gestión de de responsabilidad penal en las empresas, formación, auditoría y consultoría compliance.')
        //- All (common) METATAGS in head tag
        include includes/metatags

    body#page-top.index
        //- Navigation
        nav.navbar.navbar-default.navbar-fixed-top
            .container
                //- Brand and toggle get grouped for better mobile display
                .navbar-header.page-scroll
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand.page-scroll(href='#page-top', alt='Logotipo de LFC, abogados especialistas en compliance')
                        img(src='img/common/lfc_logo.svg', alt='LFC, abogados especialistas en compliance', title='LFC, abogados especialistas en compliance')
                //- Collect the nav links, forms, and other content for toggling
                #bs-example-navbar-collapse-1.collapse.navbar-collapse.animated.fadeIn
                    ul.nav.navbar-nav.navbar-right
                        li.hidden
                            a(href='#page-top')
                        li
                            a.page-scroll(href='#services', title='Ir a Compliance legal') Compliance legal
                        li
                            a.page-scroll(href='#finance', title='Ir a Corporate Finance') Corporate Finance
                        li
                            a.page-scroll(href='#others', title='Ir a Otros servicios') Otros servicios
                        li
                            a.page-scroll(href='#team', title='Ir a Equipo') Equipo
                        li
                            a.page-scroll(href='#contact', title='Ir a Contacto') Contacto
                //- /.navbar-collapse
            //- /.container-fluid
        //- Header
        header
            .container
                .intro-text.animated.fadeIn
                    .intro-lead-in
                      h1 #{index.header.title}
                    .intro-heading
                      | #{index.header.call}
                    a.page-scroll.btn.btn-xl(href="#contact", title='Ir a Contacto')
                      | #{index.header.btn.contact}
                    a.page-scroll.btn.btn-xl(href="/download/lfc_dossier-corporativo__2017.pdf", title='Descarga PDF', download)
                      | #{index.header.btn.download}
        //- Services Section
        section#services
            .container
                .row
                    .col-lg-12.text-center
                        h2.section-heading
                          | !{index.services.title}
                        h3.section-subheading.text-muted
                          | #{index.services.subtitle}
                //- 3 Text Block
                .row.text-center.animated.fadeInDown
                    .col-md-4
                        span.fa-stack.fa-4x
                          i.fa.fa-circle.fa-stack-2x.text-primary
                          i.fa.fa-building-o.fa-stack-1x.fa-inverse
                        //- <h4 class="service-heading">E-Commerce</h4>
                        p.text-muted
                          | !{index.services.tips.risk}
                    .col-md-4
                        span.fa-stack.fa-4x
                          i.fa.fa-circle.fa-stack-2x.text-primary
                          i.fa.fa-legal.fa-stack-1x.fa-inverse
                        //- <h4 class="service-heading">E-Commerce</h4>
                        p.text-muted
                          | !{index.services.tips.penal}
                    .col-md-4
                        span.fa-stack.fa-4x
                          i.fa.fa-circle.fa-stack-2x.text-primary
                          i.fa.fa-laptop.fa-stack-1x.fa-inverse
                        //- <h4 class="service-heading">E-Commerce</h4>
                        p.text-muted
                          | !{index.services.tips.etics}
                //- 3 Text Block
                .row.text-center
                    .col-md-4
                        span.fa-stack.fa-4x
                          i.fa.fa-circle.fa-stack-2x.text-primary
                          i.fa.fa-lock.fa-stack-1x.fa-inverse
                        //- <h4 class="service-heading">E-Commerce</h4>
                        p.text-muted
                          | !{index.services.tips.channel}
                    .col-md-4
                        span.fa-stack.fa-4x
                          i.fa.fa-circle.fa-stack-2x.text-primary
                          i.fa.fa-area-chart.fa-stack-1x.fa-inverse
                        //- <h4 class="service-heading">E-Commerce</h4>
                        p.text-muted
                          | !{index.services.tips.confiance}
                    .col-md-4
                        span.fa-stack.fa-4x
                          i.fa.fa-circle.fa-stack-2x.text-primary
                          i.fa.fa-pie-chart.fa-stack-1x.fa-inverse
                        //- <h4 class="service-heading">E-Commerce</h4>
                        p.text-muted
                          | !{index.services.tips.model}
        //- COMPLIANCE LEGAL :: Portfolio Grid Section
        section#portfolio.bg-light-gray
            .container
                .row
                    .col-lg-12.text-center
                        h2.section-heading
                          | !{index.portfolio.intro.title}
                        h3.col-md-8.col-md-offset-2.col-sm-12.section-subheading.text-muted
                          | #{index.portfolio.intro.subtitle}
                .row
                    .col-md-6.col-sm-12
                        p.text-muted.justify.effects
                          | !{index.portfolio.intro.add}
                    .col-md-6.col-sm-12
                        p.text-muted.justify.effects
                          | !{index.portfolio.intro.unique}
                .row
                    .col-lg-12.text-center
                        h2.section-heading
                          | !{index.portfolio.offer.title}
                        h3.col-md-8.col-md-offset-2.col-sm-12.section-subheading.text-muted
                          | !{index.portfolio.offer.subtitle}
                .row
                    //- TIP 01
                    .col-md-3.col-sm-6.portfolio-item
                        a.portfolio-link(href='#codigo-etico', data-toggle='modal')
                            .portfolio-hover
                                .portfolio-hover-content
                                    i.fa.fa-plus.fa-3x
                            img.img-responsive(src='img/portfolio/codigo-etico.png', alt='Definir o adaptar el Código ético o de buen gobierno de su empresa', title='Definir o adaptar el Código ético o de buen gobierno de su empresa')
                        .portfolio-caption
                            //- <h4>Round Icons</h4>
                            p.text-muted
                              | !{index.portfolio.tips.codigo}
                    //- TIP 02
                    .col-md-3.col-sm-6.portfolio-item
                        a.portfolio-link(href='#riesgos-penales', data-toggle='modal')
                            .portfolio-hover
                                .portfolio-hover-content
                                    i.fa.fa-plus.fa-3x
                            img.img-responsive(src='img/portfolio/mapa-riesgos-penales.png', alt='Elaborar un Mapa de riesgos penales', title='Elaborar un Mapa de riesgos penales')
                        .portfolio-caption
                            //- <h4>Round Icons</h4>
                            p.text-muted
                              | !{index.portfolio.tips.riesgos}
                    //- TIP 03
                    .col-md-3.col-sm-6.portfolio-item
                        a.portfolio-link(href='#identificar-procesos', data-toggle='modal')
                            .portfolio-hover
                                .portfolio-hover-content
                                    i.fa.fa-plus.fa-3x
                            img.img-responsive(src='img/portfolio/identificar-procesos.png', alt='Identificar procesos y controles existentes', title='Identificar procesos y controles existentes')
                        .portfolio-caption
                            //- <h4>Round Icons</h4>
                            p.text-muted
                              | !{index.portfolio.tips.procesos}
                    //- TIP 04
                    .col-md-3.col-sm-6.portfolio-item
                        a.portfolio-link(href='#prevencion-penal', data-toggle='modal')
                            .portfolio-hover
                                .portfolio-hover-content
                                    i.fa.fa-plus.fa-3x
                            img.img-responsive(src='img/portfolio/prevencion-penal.png', alt='Elabora un Plan de Prevención Penal', title='Elabora un Plan de Prevención Penal')
                        .portfolio-caption
                            //- <h4>Round Icons</h4>
                            p.text-muted
                              | !{index.portfolio.tips.penal}
                    .clearfix
                    //- TIP 05
                    .col-md-3.col-sm-6.portfolio-item
                        a.portfolio-link(href='#protocolos-juridicos', data-toggle='modal')
                            .portfolio-hover
                                .portfolio-hover-content
                                    i.fa.fa-plus.fa-3x
                            img.img-responsive(src='img/portfolio/protocolos-juridicos.png', alt='Formación de voluntad de la persona jurídica', title='Formación de voluntad de la persona jurídica')
                        .portfolio-caption
                            //- <h4>Round Icons</h4>
                            p.text-muted
                              | !{index.portfolio.tips.juridicos}
                    //- TIP 06
                    .col-md-3.col-sm-6.portfolio-item
                        a.portfolio-link(href='#canal-etico', data-toggle='modal')
                            .portfolio-hover
                                .portfolio-hover-content
                                    i.fa.fa-plus.fa-3x
                            img.img-responsive(src='img/portfolio/canal-etico.png', alt='Canal ético o sistema de denuncias', title='Canal ético o sistema de denuncias')
                        .portfolio-caption
                            //- <h4>Round Icons</h4>
                            p.text-muted
                              | !{index.portfolio.tips.etico}
                    //- TIP 07
                    .col-md-3.col-sm-6.portfolio-item
                        a.portfolio-link(href='#sistema-disciplinario', data-toggle='modal')
                            .portfolio-hover
                                .portfolio-hover-content
                                    i.fa.fa-plus.fa-3x
                            img.img-responsive(src='img/portfolio/sistema-disciplinario.png', alt='Implantación de un Sistema disciplinario compatible con su Convenio Colectivo', title='Implantación de un Sistema disciplinario compatible con su Convenio Colectivo')
                        .portfolio-caption
                            //- <h4>Round Icons</h4>
                            p.text-muted
                              | !{index.portfolio.tips.disciplinario}
                    //- TIP 08
                    .col-md-3.col-sm-6.portfolio-item
                        a.portfolio-link(href='#plan-formacion', data-toggle='modal')
                            .portfolio-hover
                                .portfolio-hover-content
                                    i.fa.fa-plus.fa-3x
                            img.img-responsive(src='img/portfolio/plan-formacion.png', alt='Plan de formación en su empresa', title='Plan de formación en su empresa')
                        .portfolio-caption
                            //- <h4>Round Icons</h4>
                            p.text-muted
                              | !{index.portfolio.tips.formacion}
                    .clearfix
                    //- TIP 09
                    .col-md-3.col-sm-6.portfolio-item
                        a.portfolio-link(href='#verificacion-ppp', data-toggle='modal')
                            .portfolio-hover
                                .portfolio-hover-content
                                    i.fa.fa-plus.fa-3x
                            img.img-responsive(src='img/portfolio/verificacion-ppp.png', alt='Verificación periódica del PPP', title='Verificación periódica del PPP')
                        .portfolio-caption
                            //- <h4>Round Icons</h4>
                            p.text-muted
                              | !{index.portfolio.tips.ppp}
                    //- TIP 10
                    .col-md-3.col-sm-6.portfolio-item
                        a.portfolio-link(href='#patrimonio-accionista', data-toggle='modal')
                            .portfolio-hover
                                .portfolio-hover-content
                                    i.fa.fa-plus.fa-3x
                            img.img-responsive(src='img/portfolio/patrimonio-accionista.png', alt='Proteccion del patrimonio', title='Proteccion del patrimonio')
                        .portfolio-caption
                            //- <h4>Round Icons</h4>
                            p.text-muted
                              | !{index.portfolio.tips.accionista}
                    //- TIP 11
                    .col-md-3.col-sm-6.portfolio-item
                        a.portfolio-link(href='#responsabilidad-civil', data-toggle='modal')
                            .portfolio-hover
                                .portfolio-hover-content
                                    i.fa.fa-plus.fa-3x
                            img.img-responsive(src='img/portfolio/responsabilidad-civil.png', alt='Proteccion del patrimonio', title='Proteccion del patrimonio')
                        .portfolio-caption
                            //- <h4>Round Icons</h4>
                            p.text-muted
                              | !{index.portfolio.tips.civil}
        //- CASOS A EVITAR (section)
        section#about
            .container
                .row
                    .col-lg-12.text-center
                        h2.section-heading
                          | !{index.about.title}
                        h3.section-subheading.text-muted
                          | #{index.about.subtitle}
                .row
                    .col-lg-12
                        ul.timeline
                            li
                                .timeline-image
                                    img.img-circle.img-responsive(src='img/about/corrupcion.png', alt='Corrupción', title='Corrupción')
                                .timeline-panel
                                    .timeline-heading
                                        //- <h4>2014</h4>
                                        h4.subheading 
                                          | #{index.about.corrupcion.title}
                                    .timeline-body
                                        p.text-muted
                                          | #{index.about.corrupcion.paragraph}
                            li.timeline-inverted
                                .timeline-image
                                    img.img-circle.img-responsive(src='img/about/cohecho.png', alt='Cohecho', title='Cohecho')
                                .timeline-panel
                                    .timeline-heading
                                        //- <h4>2014</h4>
                                        h4.subheading
                                          | #{index.about.cohecho.title}
                                    .timeline-body
                                        p.text-muted
                                          | #{index.about.cohecho.paragraph}
                            li
                                .timeline-image
                                    img.img-circle.img-responsive(src='img/about/apropiacion-indebida.png', alt='Apropiación indebida', title='Apropiación indebida')
                                .timeline-panel
                                    .timeline-heading
                                        //- <h4>2014</h4>
                                        h4.subheading
                                          | #{index.about.apropiacion.title}
                                    .timeline-body
                                        p.text-muted
                                          | #{index.about.cohecho.paragraph}
                            li.timeline-inverted
                                .timeline-image
                                    img.img-circle.img-responsive(src='img/about/delitos-medioambientales.png', alt='Delitos ambientales', title='Delitos ambientales')
                                .timeline-panel
                                    .timeline-heading
                                        //- <h4>2014</h4>
                                        h4.subheading
                                          | #{index.about.delitos.title}
                                    .timeline-body
                                        p.text-muted
                                          | #{index.about.cohecho.paragraph}
                            li.timeline-inverted
                                .timeline-image
                                    h4 !{index.about.warning}
        //- CORPORATE FINANCE (section)
        section#finance.bg-light-gray
            .container
                .row
                    .col-lg-12.text-center
                        h2.section-heading
                          | !{index.finance.title}
                        h3.section-subheading.text-muted
                          | #{index.finance.subtitle}
                //- 3 Text Block
                .row.text-center.animated.fadeInDown
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fa.fa-circle.fa-stack-2x.text-primary
                            i.fa.fa-info.fa-stack-1x.fa-inverse
                        //- <h4 class="service-heading">E-Commerce</h4>
                        p.text-muted
                          | #{index.finance.tips.consulting}
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fa.fa-circle.fa-stack-2x.text-primary
                            i.fa.fa-bank.fa-stack-1x.fa-inverse
                        //- <h4 class="service-heading">E-Commerce</h4>
                        p.text-muted
                          | #{index.finance.tips.bank}
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fa.fa-circle.fa-stack-2x.text-primary
                            i.fa.fa-star-half-o.fa-stack-1x.fa-inverse
                        //- <h4 class="service-heading">E-Commerce</h4>
                        p.text-muted
                          | #{index.finance.tips.risk}
                //- 3 Text Block
                .row.text-center
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fa.fa-circle.fa-stack-2x.text-primary
                            i.fa.fa-money.fa-stack-1x.fa-inverse
                        //- <h4 class="service-heading">E-Commerce</h4>
                        p.text-muted
                          | #{index.finance.tips.angels}
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fa.fa-circle.fa-stack-2x.text-primary
                            i.fa.fa-flag.fa-stack-1x.fa-inverse
                        //- <h4 class="service-heading">E-Commerce</h4>
                        p.text-muted
                          | #{index.finance.tips.ue}
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fa.fa-circle.fa-stack-2x.text-primary
                            i.fa.fa-suitcase.fa-stack-1x.fa-inverse
                        //- <h4 class="service-heading">E-Commerce</h4>
                        p.text-muted
                          | #{index.finance.tips.privee}
        //- OTROS SERVICIOS (section)
        section#others
            .container
                .row
                    .col-lg-12.text-center
                        h2.section-heading
                          | !{index.others.title}
                        h3.col-md-8.col-md-offset-2.col-sm-12.section-subheading.text-muted
                          | !{index.others.subtitle}
                .row
                    //- TIP 01 ::  Consultoria de Negocio
                    .col-md-3.col-sm-6.portfolio-item
                        a.portfolio-link(href='#codigo-etico', data-toggle='modal')
                            .portfolio-hover.portfolio-hover-disable
                                .portfolio-hover-content
                                    i.fa.fa-plus.fa-3x
                            img.img-responsive(src='img/portfolio/consultoria-negocio.png', alt='Definir o adaptar el Código ético o de buen gobierno de su empresa', title='Definir o adaptar el Código ético o de buen gobierno de su empresa')
                        .portfolio-caption
                            //- <h4>Round Icons</h4>
                            p.text-muted
                              | !{index.others.tips.consulting}
                    //- TIP 02 :: Redes Comerciales
                    .col-md-3.col-sm-6.portfolio-item
                        a.portfolio-link(href='#riesgos-penales', data-toggle='modal')
                            .portfolio-hover.portfolio-hover-disable
                                .portfolio-hover-content
                                    i.fa.fa-plus.fa-3x
                            img.img-responsive(src='img/portfolio/redes-comerciales.png', alt='Elaborar un Mapa de riesgos penales', title='Elaborar un Mapa de riesgos penales')
                        .portfolio-caption
                            //- <h4>Round Icons</h4>
                            p.text-muted
                              | !{index.others.tips.webs}
                    //- TIP 03 :: Internacionalizacion
                    .col-md-3.col-sm-6.portfolio-item
                        a.portfolio-link(href='#identificar-procesos', data-toggle='modal')
                            .portfolio-hover.portfolio-hover-disable
                                .portfolio-hover-content
                                    i.fa.fa-plus.fa-3x
                            img.img-responsive(src='img/portfolio/internacionalizacion.png', alt='Identificar procesos y controles existentes', title='Identificar procesos y controles existentes')
                        .portfolio-caption
                            //- <h4>Round Icons</h4>
                            p.text-muted
                              | !{index.others.tips.worldwide}
                    //- TIP 04 :: Import-Export
                    .col-md-3.col-sm-6.portfolio-item
                        a.portfolio-link(href='#prevencion-penal', data-toggle='modal')
                            .portfolio-hover.portfolio-hover-disable
                                .portfolio-hover-content
                                    i.fa.fa-plus.fa-3x
                            img.img-responsive(src='img/portfolio/import-export.png', alt='Elabora un Plan de Prevención Penal', title='Elabora un Plan de Prevención Penal')
                        .portfolio-caption
                            //- <h4>Round Icons</h4>
                            p.text-muted
                              | !{index.others.tips.import}
                    .clearfix
        //- TEAM (section)
        section#team.bg-light-gray
            .container
                .row
                    .col-lg-12.text-center
                        h2.section-heading
                          | !{index.team.title}
                    //- h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
                .row
                    .col-sm-4
                        .team-member
                            img.img-responsive.img-circle(src='img/team/a_decastro.jpg', alt='Alejandro de Castro, economista, MBA y PDG por el IESE, empresario y consultor de Management de empresas nacionales y multinacionales.', title='Alejandro de Castro, economista, MBA y PDG por el IESE, empresario y consultor de Management de empresas nacionales y multinacionales.')
                            h4 
                              | !{index.team.alejandro.name}
                            h5.text-muted 
                              | !{index.team.alejandro.job}
                            p.text-muted 
                              | !{index.team.alejandro.resume}
                            //- (social media links sample)
                              <ul class="list-inline social-buttons">
                              <li><a href="#"><i class="fa fa-twitter"></i></a>
                              </li>
                              <li><a href="#"><i class="fa fa-facebook"></i></a>
                              </li>
                              <li><a href="#"><i class="fa fa-linkedin"></i></a>
                              </li>
                              </ul>
                    .col-sm-4
                        .team-member
                            img.img-responsive.img-circle(src='img/team/a_godino.jpg', alt='Álvaro Godino García, abogado especialista en en Derecho Mercantil y Laboral', title='Álvaro Godino García, abogado especialista en en Derecho Mercantil y Laboral')
                            h4 
                              | !{index.team.alvaro.name}
                            h5.text-muted 
                              | !{index.team.alvaro.job}
                            p.text-muted 
                              | !{index.team.alvaro.resume}
                    .col-sm-4
                        .team-member
                            img.img-responsive.img-circle(src='img/team/j_j_blanco.jpg', alt='Juan José Blanco, licenciado en Administración y Dirección de Empresas y master bancario', title='Juan José Blanco, licenciado en Administración y Dirección de Empresas y master bancario')
                            h4 
                              | !{index.team.blanco.name}
                            h5.text-muted
                              | !{index.team.blanco.job}
                            p.text-muted
                              | !{index.team.blanco.resume}
                .row
                    .col-sm-4
                        .team-member
                            img.img-responsive.img-circle(src='img/team/j_pena.jpg', alt='Juan José Blanco, abogado asesor de empresas nacionales y multinacionales', title='Juan José Blanco, abogado asesor de empresas nacionales y multinacionales')
                            h4
                              | !{index.team.lasso.name}
                            h5.text-muted
                              | !{index.team.lasso.job}
                            p.text-muted
                              | !{index.team.lasso.resume}
                    .col-sm-4
                        .team-member
                            img.img-responsive.img-circle(src='img/team/l_puebla.jpg', alt='Laura Puebla, abogada en derecho Mercantil y de Empresa', title='Laura Puebla, abogada en derecho Mercantil y de Empresa')
                            h4
                              | !{index.team.laura.name}
                            h5.text-muted
                              | !{index.team.laura.job}
                            p.text-muted
                              | !{index.team.laura.resume}
                    .col-sm-4
                        .team-member
                            img.img-responsive.img-circle(src='img/team/f_fernandez.jpg', alt='Fernando Fernández Fornis, licenciado en Politicas y Derecho', title='Fernando Fernández Fornis, licenciado en Politicas y Derecho')
                            h4
                              | !{index.team.fernando.name}
                            h5.text-muted
                              | !{index.team.fernando.job}
                            p.text-muted
                              | !{index.team.fernando.resume}
                //-
                  Last block text of "Our Team" Section:
                  <div class="row">
                  <div class="col-lg-8 col-lg-offset-2 text-center">
                  <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                  </div>
                  </div>
        //- CLIENTS (section)
        aside.clients
            h5.text-muted Algunos de nuestros clientes
            .row
                .col-md-2.col-sm-4
                    a(href='http://abrautomotor.com/', target='_blank', rel="noopener noreferrer", title='Abrauto Motor, concesionario en Madrid')
                        img.img-responsive.img-centered(src='img/logos/abrauto-motor.jpg', alt='Abrauto Motor, concesionario en Madrid', title='Abrauto Motor, concesionario en Madrid')
                .col-md-2.col-sm-4
                    a(href='http://tampico.es/', target='_blank', rel="noopener noreferrer", title='Tampico multinacional líder de bebidas')
                        img.img-responsive.img-centered(src='img/logos/tampico.jpg', alt='Tampico multinacional líder de bebidas', title='Tampico multinacional líder de bebidas')
                .col-md-2.col-sm-4
                    a(href='http://remax.es/', target='_blank', rel="noopener noreferrer", title='Remax propiedades inmobiliarias en alquiler o venta')
                        img.img-responsive.img-centered(src='img/logos/remax.jpg', alt='Remax propiedades inmobiliarias en alquiler o venta', title='Remax propiedades inmobiliarias en alquiler o venta')
                .col-md-2.col-sm-4
                    a(href='https://es-es.facebook.com/INDUSTRIAS-CARNICAS-ALONSO-SL-217762568256282/', target='_blank', rel="noopener noreferrer", title='Industrias Cárnicas Alonso, S.L.')
                        img.img-responsive.img-centered(src='img/logos/carnicas-alonso.jpg', alt='Industrias Cárnicas Alonso, S.L.', title='Industrias Cárnicas Alonso, S.L.')
                .col-md-2.col-sm-4
                    a(href='http://www.promopicking.com/', target='_blank', rel="noopener noreferrer", title='Promopicking: marketing Promocional, logistica, almacenaje, trabajos de manipulación y retractilado')
                        img.img-responsive.img-centered(src='img/logos/promo-picking.jpg', alt='Promopicking: marketing Promocional, logistica, almacenaje, trabajos de manipulación y retractilado', title='Promopicking: marketing Promocional, logistica, almacenaje, trabajos de manipulación y retractilado')
                .col-md-2.col-sm-4
                    a(href='http://strategos-consultores.com/', target='_blank', rel="noopener noreferrer", title='Strategos: ayudamos a las empresas en tres momentos cruciales')
                        img.img-responsive.img-centered(src='img/logos/strategos.jpg', alt='Strategos: ayudamos a las empresas en tres momentos cruciales', title='Strategos: ayudamos a las empresas en tres momentos cruciales')
        
        //- (common) "Contact Us" Section
        include includes/contact
        //- (common) "Footer" Section
        include includes/footer
        //- 01. CÓDIGO ÉTICO :: modal dialog
        include includes/modals
        //- All (common) Scripts
        include includes/scripts
