doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Legal: LFC Abogados y Economistas
        meta(name='keywords', content='compliance, compliance penal, compliance empresas, compliance pymes, cumplimiento normativo, modelo de compliance penal, modelo de prevención de delitos, responsabilidad penal de las empresas, responsabilidad penal de las personas jurídicas, abogados penalistas, derecho penal económico, derecho penal empresa, delitos económicos, defensa, abogados penalistas en madrid, abogados derecho civil, especialistas en derecho penal, penal internacional, penal económico')
        meta(name='description', content='Términos y condiciones legales de LFC Abogados y Economistas expertos en materia jurídico penal preventiva en el ámbito del derecho penal económico y de empresa además de implantar, gestionar y mantener el cumplimiento de los sistemas de gestión de de responsabilidad penal en las empresas, formación, auditoría y consultoría compliance.')
        //- All (common) METATAGS in head tag
        include includes/metatags

    body#page-top.index
        //- Navigation
        nav.navbar.navbar-default.navbar-fixed-top
            .container
                //- Brand and toggle get grouped for better mobile display
                .navbar-header.page-scroll
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand.page-scroll(href='index.html', title='Volver a la página de inicio de LFC Abogados y Economistas')
                        img(src='img/common/lfc_logo.svg', alt='LFC, abogados especilaistas en compliance', title='LFC, abogados especilaistas en compliance')
                //- Collect the nav links, forms, and other content for toggling
                #bs-example-navbar-collapse-1.collapse.navbar-collapse.animated.fadeIn
                    ul.nav.navbar-nav.navbar-right
                        li.hidden
                            a(href='#page-top')
                        li
                            a(href='index.html', title='Volver a la página de inicio de LFC Abogados y Economistas')
                                i.fa.fa-home
                                span &nbsp;Sobre 
                                | LFC
                        li
                            a.page-scroll(href='#terms-intro', title='Términos de uso de LFC Abogados y Economistas') Términos
                        li
                            a.page-scroll(href='#lopd', title='LOPD de LFC Abogados y Economistas') LOPD
                        li
                            a.page-scroll(href='#cookies', title='Política de Cookies en LFC Abogados y Economistas') Cookies
                        li
                            a.page-scroll(href='#responsabilidad', title='Responsabilidad de LFC Abogados y Economistas') Responsabilidad
                        li
                            a.page-scroll(href='#propiedad', title='Propiedad intelectual de LFC Abogados y Economistas') Propiedad
                //- /.navbar-collapse
            //- /.container-fluid
        //- Header
        header.terms-header
            .container
        //- TERMS 01 :: "Términos legales"
        section#terms-intro.bg-light-gray
            .container
                .row
                    .col-lg-12.text-center
                        h2.section-heading
                          | !{legal.terms.title}
                        h3.col-md-8.col-md-offset-2.col-sm-12.section-subheading.text-muted
                          i.fa.fa-gavel.fa-3x(aria-hidden='true')
                .row
                    .col-md-10.col-md-offset-1
                      //- for each loop to load all copies in "locales" json file/s
                      each terms, i in legal.terms.paragraphs
                        p.text-muted.justify.effects
                          | !{terms}
        //- TERMS 02 :: "Ley orgánica de protección de datos"
        section#lopd
            .container
                .row
                    .col-lg-12.text-center
                        h2.section-heading
                          | !{legal.lopd.title}
                        h3.col-md-8.col-md-offset-2.col-sm-12.section-subheading.text-muted
                          i.fa.fa-shield.fa-3x(aria-hidden='true')
                .row
                    .col-md-10.col-md-offset-1
                      //- for each loop to load all copies in "locales" json file/s
                      each lopd, i in legal.lopd.paragraphs
                        p.text-muted.justify.effects
                          | !{lopd}
        //- TERMS 03 :: "Uso de Cookies"
        section#cookies.bg-light-gray
            .container
                .row
                    .col-lg-12.text-center
                        h2.section-heading
                          | !{legal.cookies.title}
                        h3.col-md-8.col-md-offset-2.col-sm-12.section-subheading.text-muted
                          i.fa.fa-database.fa-3x(aria-hidden='true')
                .row
                    .col-md-10.col-md-offset-1
                        .col-md-4
                            p.text-muted.justify.effects
                              | !{legal.cookies.headerlist}
                            ul.browsers-list
                                li
                                    i.fa.fa-internet-explorer(aria-hidden='true')
                                    a(href='http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9', target='_blank', rel="noopener noreferrer", title='Como desactivar cookies en Internet Explorer') Internet Explorer
                                li
                                    i.fa.fa-firefox(aria-hidden='true')
                                    a(href='https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we', target='_blank', rel="noopener noreferrer", title='Como desactivar cookies en Firefox') Firefox
                                li
                                    i.fa.fa-chrome(aria-hidden='true')
                                    a(href='https://support.google.com/chrome/answer/95647?hl=es', target='_blank', rel="noopener noreferrer", title='Como desactivar cookies en Chrome') Chrome
                                li
                                    i.fa.fa-safari(aria-hidden='true')
                                    a(href='http://www.apple.com/es/support/mac-apps/safari/', target='_blank', rel="noopener noreferrer", title='Como desactivar cookies en Safari') Safari
                                li
                                    i.fa.fa-opera(aria-hidden='true')
                                    a(href='http://help.opera.com/Windows/11.50/es-ES/cookies.html', target='_blank', rel="noopener noreferrer", title='Como desactivar cookies en Opera') Opera
                        .col-md-8
                          //- for each loop to load all copies in "locales" json file/s
                          each cookies, i in legal.cookies.paragraphs
                            p.text-muted.justify.effects
                              | !{cookies}
        //- TERMS 04 :: "Responsabilidad"
        section#responsabilidad
            .container
                .row
                    .col-lg-12.text-center
                        h2.section-heading
                          | !{legal.responsabilidad.title}
                        h3.col-md-8.col-md-offset-2.col-sm-12.section-subheading.text-muted
                          i.fa.fa-check.fa-3x(aria-hidden='true')
                .row
                    .col-md-10.col-md-offset-1
                      //- for each loop to load all copies in "locales" json file/s
                      each responsabilidad, i in legal.responsabilidad.paragraphs
                        p.text-muted.justify.effects
                          | !{responsabilidad}
        //- TERMS 05 :: "Propiedad intelectual"
        section#propiedad.bg-light-gray
            .container
                .row
                    .col-lg-12.text-center
                        h2.section-heading
                          | !{legal.propiedad.title}
                        h3.col-md-8.col-md-offset-2.col-sm-12.section-subheading.text-muted
                          i.fa.fa-file.fa-3x(aria-hidden='true')
                .row
                    .col-md-10.col-md-offset-1
                      //- for each loop to load all copies in "locales" json file/s
                      each propiedad, i in legal.propiedad.paragraphs
                        p.text-muted.justify.effects
                          | !{propiedad}
        
        //- (common) "Contact Us" Section
        include includes/contact
        //- (common) "Footer" Section
        include includes/footer
        //- All (common) Scripts
        include includes/scripts
